.DS_Store
data

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Docker configuration files
.viminfo
.zcompdump
.zsh_history
.zshrc
